.button{
    background-color: #fbaf1b;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    color: white;
}
.button.primary{
    background-color: white;
    color:black;
}
.button.primary2{
    background-color: white;
    color:blue;
}
.button.true{
    border: 1px solid blue;
}
.button.false{
    border: 1px solid #fbaf1b;
}
.button.box{
    box-shadow: rgba(214, 118, 9, 0.418) 0px 7px 29px 0px;
}